<div class="jumbotron">
Stuff
</div>




<%= form_tag search_path, method: :post, class: "search-bar" do %>
	<%= text_field_tag :keyword %><br>
	<%= submit_tag "Find Courses!", class: "btn btn-primary" %>
<% end %>