<div class="col col-md-4">
  <% @coursera_results.each do |course| %>
    <%= course["name"] %><br>
    <%= course["description"].match(/^.*?[\.!\?](?:\s|$)/) %><br>
  <% end %>
</div>

<br>
<% @udacity_results.each do |course| %>
	<%= course["title"] %><br>
<% end %>