/*
 *= require_tree .
 *= require_self
 */

body {
	min-height: 100%;
  padding-top: 100px;
}

li.logged-in {
	padding: 15px 0px 5px 15px;
}

a.navbar-brand {
  font-size: 35px;
  color: white;
}

a.big-links {
  color: #55775F;
}

a.big-links:hover, a.big-links:visited {
  text-decoration: none;
}

input#keyword {
  width: 30em;
  height: 3em;
  text-align: center;
}

input.btn.btn-primary {
  margin-top: 2%;
  height: 50%;
  width: 20%;
  font-size: 20px;
  white-space: normal;
  border: none;
  background-color: #55775F;
}

form.search-bar {
  text-align: center;
}

.index-img {
  height: 250px;
  padding: 2%;
  margin-top: 10%;
  border-radius: 15%;
}

.course-img {
  height: 150px;
  width: 150px;
}

.course-info {
  transform: translateY(5%);
}

.course-row {
  background-color: rgba(177, 177, 205, 0.4);
  margin-bottom: 2%;
  padding: 2%;
}

.index {
  text-align: center;
}

.course-list {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 2%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.footer, .push {
  height: 3em;
  clear: both;
}

footer {
  text-align: right;
  font-style: italic;
  padding-right: 5%;
}
