/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	min-height: 100%;
  padding-top: 70px;
}

a.navbar-brand {
  font-size: 35px;
}

input#keyword {
  width: 30em;
  height: 3em;
  text-align: center;
}

input.btn.btn-primary {
	border-radius: 50px;
  margin-top: 2%;
  height: 50%;
  width: 20%;
  font-size: 20px;
  white-space: normal;
}

form.search-bar {
	text-align: center;
}

img {
  height: 250px;
  padding: 2%;
  margin-top: 10%;
  border-radius: 15%;
}

.index {
  text-align: center;
}

.course-list {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 5%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.footer, .push {
  height: 3em;
  clear: both;
}

footer {
  text-align: right;
  font-style: italic;
  padding-right: 5%;
}

/*div.header {
	float: right;
	display: inline;
	padding-right: 8%;
	font-weight: bolder;
	font-size: 20px;
}*/

/*ul.nav-top li {
	display: inline;
	padding-right: 30px;
}*/

/*li.logged-in {
	padding-top: 10px;
}*/

a {
	text-decoration: none;
}